<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post form</title>
</head>
<body>
<fieldset>
    <legend>Add a Coffee</legend>
<!--    We make the action on the post to the file -->
    <form action="/posts/create" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="message">message:</label>
        <input type="text" id="message" name="message">
        <input type="submit" value="submit">
    </form>
</fieldset>
</body>
</html>